@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    background-color: lightgray;
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

nav{
    background-color: gray;
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

main{
    background-color: yellowgreen;
}

footer{
    background-color: gray;
}

#vl {
    border-left: 2px solid rgb(0, 0, 0);
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
  }