*{
    background-color: lightgray;
}

nav{
    background-color: gray;
}

main{
    background-color: yellowgreen;
}

footer{
    background-color: gray;
}

#vl {
    border-left: 2px solid rgb(0, 0, 0);
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
  }